# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [84]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [85]:
clean_city_df = pd.read_csv("../Resources/clean_city_weather_data.csv")
clean_city_df

,City,Latitude,Longtitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Time of Data,Country Code
0,Rawson,-43.30,-65.10,46.27,54,100,11.25,1596152680,AR
1,Talnakh,69.49,88.40,64.40,63,70,13.42,1596152834,RU
2,Kumul,42.80,93.45,72.52,31,0,15.35,1596152834,CN
3,Dalbandin,28.89,64.41,81.45,24,0,6.46,1596152834,PK
4,Marsaxlokk,35.84,14.54,82.00,74,0,2.24,1596152834,MT
...,...,...,...,...,...,...,...,...,...
560,Oistins,13.07,-59.53,82.40,74,20,13.87,1596152753,BB
561,Seydi,39.48,62.91,79.36,42,64,7.07,1596152968,TM
562,Morondava,-20.28,44.28,65.88,75,0,14.32,1596152968,MG
563,Maniitsoq,65.42,-52.90,45.97,83,0,4.61,1596152969,GL
564,Ocampo,21.65,-101.50,69.44,58,86,9.24,1596152969,MX

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [86]:
#Create a heat map that displays the humidity for every city from the part I of the homework.
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [87]:
# Drop any rows with null values
clean_city_df = clean_city_df.dropna()

# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_df[["Latitude", "Longtitude"]].astype(float)

In [88]:
# Setup variable humidity for use in the heatmap.
humidity = clean_city_df["Humidity"].astype(float)

In [89]:
# Setup figure layout parameters
figure_layout = {
    'width': '1000px',
    'height': '550px',
    'border': '1px solid black',
    'padding': '1px'
}
# Assign the layout parameters to the figure
fig = gmaps.figure(layout = figure_layout,center = (0,0), zoom_level = 2)

# Create a Humidity Heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)
# Add the layer to the figure
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='550px', padding='1px', width='1000px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [96]:
# Narrow down the DataFrame to find your ideal weather condition.
# MY IDEAL CONDITIONS
# A max temperature lower than 80 degrees but higher than 72.
# Wind speed less than 10 mph.
# Cloudiness < 5%
# Humidity <= 60%
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your 
# API requests to a reasonable number.
filt = (clean_city_df['Max Temperature'] < 80) & (clean_city_df['Max Temperature'] > 72) & (clean_city_df['Wind Speed'] < 10) & (clean_city_df['Cloudiness'] <= 5) & (clean_city_df['Humidity'] <= 60)
# Reduce columns to what is needed for the hotel heat map.
narrow_clean_city_df = clean_city_df.loc[filt,['City','Country Code','Latitude','Longtitude']]
narrow_clean_city_df.head(20)

                City Country Code  Latitude  Longtitude
54         Jamestown           US     42.10      -79.24
115  Haines Junction           CA     60.75     -137.51
121    Alta Floresta           BR     -9.88      -56.09
147          Birjand           IR     32.87       59.22
178       Kiryat Gat           IL     31.61       34.76
293    Sioux Lookout           CA     50.10      -91.92
321          Bereket           TM     39.24       55.52
336  Kamyshevatskaya           RU     46.41       37.96
345        Shelburne           CA     44.08      -80.20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [97]:
# Add "hotel Name" to the dataframe for the next step of retieving hotel names from the API
hotel_df = narrow_clean_city_df
hotel_df['Hotel Name'] = ""

In [98]:
# Set parameters to search for hotels within 5000 meters.
# Setup Parameters dictionary for the google api
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng for cities in the hotel_df to find hotels. 
for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longtitude"]

    # Set the lat and lng location parameter.
    params["location"] = f"{lat},{lng}"
    
    # Set the base url for the API for nearby search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Get the data from the API, passing in the base url and all parameters.
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()
    
    # Since it's possible the API may not find a result or some data may be missing we 
    # need to try-except to handle that scenario.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print(f"Missing hotel data for {row['City']} field/result... skipping.")  

#print(json.dumps(name_address, indent=4, sort_keys=True))
hotel_df.dropna(inplace = True)
hotel_df.head(20)

,City,Country Code,Latitude,Longtitude,Hotel Name
54,Jamestown,US,42.10,-79.24,Hampton Inn & Suites Jamestown
115,Haines Junction,CA,60.75,-137.51,Parkside Inn
121,Alta Floresta,BR,-9.88,-56.09,Floresta Amazonica Hotel
147,Birjand,IR,32.87,59.22,Birjand Tourist Hotel
178,Kiryat Gat,IL,31.61,34.76,×¨×’×¢ ×‘× ×—×ª
293,Sioux Lookout,CA,50.10,-91.92,Knobby's Fly-In Camps
321,Bereket,TM,39.24,55.52,Railway motel
336,Kamyshevatskaya,RU,46.41,37.96,Gostevoy Dom Lotos-Lend
345,Shelburne,CA,44.08,-80.20,The Retreat at the Farm

In [99]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
  
# NOTE: be sure to update with your DataFrame name

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

hotel_locations = hotel_df[["Latitude", "Longtitude"]]

In [100]:
# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_df[["Latitude", "Longtitude"]]

# Drop any rows with null values
clean_city_df = clean_city_df.dropna()

# Setup variable humidity for use in the heatmap.
humidity = clean_city_df["Humidity"].astype(float)

# Setup figure layout parameters
figure_layout = {
    'width': '1000px',
    'height': '550px',
    'border': '1px solid black',
    'padding': '1px'
}
# Assign the layout parameters to the figure
fig = gmaps.figure(layout = figure_layout,center = (0,0), zoom_level = 2)

# Create a Humidity Heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)
# Add the layer to the figure
fig.add_layer(heat_layer)

hotel_locations = hotel_df[["Latitude", "Longtitude"]]

# Plotting markers on the heat map at the hotel locations, with popup box content.
# Assign the marker layer to a variable
markers = gmaps.marker_layer(hotel_locations,info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='550px', padding='1px', width='1000px'))